html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#root {
  height: 100%;
}

:root {
  --text-color: hsla(49, 100%, 56%, 1);
  --effect-color: hsla(300, 84%, 39%, 1);
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    hsla(49, 100%, 56%, 1),
    hsla(300, 84%, 39%, 1)
  );
}

.clip {
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.effect {
  font-size: 8em;
  font-weight: 800;
  position: absolute;
  background: linear-gradient(60deg, red, yellow, red, yellow, red);
  /*color: var(--text-color);*/
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  /*text-shadow: 1px 1px 1px var(--effect-color), 1px 2px 1px var(--effect-color), 1px 3px 1px var(--effect-color),
    1px 4px 1px var(--effect-color), 1px 5px 1px var(--effect-color), 1px 6px 1px var(--effect-color),
    1px 7px 1px var(--effect-color), 1px 8px 1px var(--effect-color), 1px 9px 1px var(--effect-color),
    1px 10px 1px var(--effect-color), 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);*/
}
